html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: Arial, Verdana, sans-serif;
  color: white;
}

.h1 {
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
  color: #333;
}


.h2 {
  margin: 0;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 46px;
  color: #333;
}

.h3 {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 30px;
  line-height: 34px;
  color: #333;
}



.main {
  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  min-height: 100vh;

  color: #fff;

  background-color: #070217;
}

.main-logo {
  display: inline-block;
  margin-bottom: 50px;
}

.link-item {
  display: inline-block;
  padding: 24px 49px;
  margin-right: 25px;
  font-weight: 700;
  font-size: 18px;
  background-color: #3f2aff;
}

.link {
  display: inline-block;
  margin-bottom: 50px;

}

.link-download {
  padding-left: 30px;
  background-image: url("../img/download.png");
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  font-weight: 700;
  font-size: 18px;
  color: #3f2aff;
}


.link-item:last-child {
  margin-right: 0;
}

.container {
  margin: 0 auto;
  padding: 80px 0;
  width: 1170px;
  color: black;
}

.container .paragraph {
  margin: 0 0 40px;
  width: 872px;
}

.container h1 {
  margin: 0;
  margin-bottom: 40px;
}

.items {
  background-image: url(../img/decorate-1.png);
  background-position: right center;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40px;
}

.items-footer {
  background-image: url(../img/decorate-2.png);
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 20px;
  padding: 30px;
  background-color: #f3f3f3;
  margin-bottom: 40px;
}

.items:last-child {
  margin-bottom: 0px;
}

.items .paragraph {
  width: 692px;
  margin-bottom: 10px;
}

.list {
  margin-top: 0;
  padding-left: 15px;
}

.list :not(:last-child) {
  margin-bottom: 20px;
}

.list-item {
  border-bottom: 1px solid #3f2aff;
  font-size: 20px;
  color: #3f2aff;
  width: max-content;
}

.list-item::marker {
  color: #3f2aff;
}

.img {
  margin-bottom: 40px;
}

.img-figure {
  display: inline-block;
  margin: 0 0 40px;
  width: 872px;
  font-size: 0;
}

.paragraph {
  margin: 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  color: #333;
}

.paragraph-board {
  border-radius: 20px;
  padding: 50px 95px;
  width: 100% !important;
  font-weight: 700;
  font-size: 30px;
  color: #fff;
  background-color: #3f2aff;
}


.img-figcaption {
  border: 1px solid #b6b6b6;
  border-top: none;
  padding: 19px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.main-content {
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 74px;
  width: 1170px;
  max-width: 100%;
  color: black;
}



.main-logo1 {
  display: block;
  margin-bottom: 25px;
  margin-right: 0;
}

.link1 {
  margin-bottom: 25px;
}

.main-title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 60px;
  line-height: 69px;
  color: #3f2aff;
}


.list1 {
  display: flex;
  flex-wrap: wrap;
  width: 1170px;
  max-width: 100%;
  padding: 0;
  margin: 0;
  font-size: 0;
}


.link-item1 {
  padding-left: 50px;
  background-image: url("../img/arrow1.png");
  background-position: left center;
  background-repeat: no-repeat;
  font-family: Arial;
  font-size: 20px;
  line-height: 23px;
  color: #3f2aff;
}

.content-card {
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  margin-right: 25px;
  width: 572px;
  height: 505px;
  list-style-type: none;
}

.content-card:nth-child(2n) {
  margin: 0;
}

.content-img {
  margin: 0;
  margin-bottom: 25px;
}

.title2 {
  margin: 0px 0px 2px 25px;
  font-size: 40px;
  line-height: 46px;
  color: #3f2aff;
}

.content-list {
  list-style-type: none;
  font-size: 20px;
  line-height: 165%;
  color: #333333;
}



.span {
  font-size: 40px;
  line-height: 46px;
  color: #eaeaea;
}

.button {
  display: block;
  margin: 0 auto;
  padding: 24px 75px;
  background-color: #fff;
  font-size: 18px;
  line-height: 24px;
  color: #3f2aff;
  border: 1px solid #3f2aff;
  cursor: pointer;
}

